<%- include('partials/header') %>

<header class="containter-fluid">
    <h1>Erro: <%= message %></h1>
</header>

<form action="/app/home" method="get">
    <button type="submit">Voltar</button>
</form>

<%- include('partials/footer') %>