<%- include('partials/header') %>
<%- include('partials/nav') %>

<header class="containter-fluid" style="padding: 1rem;">
    <h1>Seja bem-vindo(a) ao MGS</h1>
</header>

<main style="padding: 1rem;">
    <p>MGS — Moedas Gerenciadas por um Sistema — tem como objetivo estimular o reconhecimento do mérito estudantil através de moedas virtuais. As moedads são distribuídas por professores aos seus alunos e trocada pelos alunos por diversas vantagens em empresas parceiras. </p>
</main>

<%- include('partials/footer') %>