<%- include('partials/header') %>
<%- include('partials/nav') %>

<style>
    .centered-div {
        background-color: #b7dfec;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 60px;
        width: 240px;
        border-radius: 8px;
    }

    .centered-text {
        text-align: center;
        margin: 0;
        color: black;
    }
</style>

<div class="container-fluid">
    <h3>Seja bem-vindo(a) ao MGS!</h3>

    <h5>Sobre o MGS</h5>
    <p>O 'Moedas Gerenciadas por um Sistema' tem como objetivo estimular o reconhecimento do mérito estudantil através de moedas virtuais. As moedas são distribuídas por professores aos seus alunos e podem ser trocadas pelos alunos por diversas vantagens em empresas parceiras.  </p>
</div>


<%- include('partials/footer') %>