<%- include('partials/header') %>

<header class="containter-fluid">
    <h1>Seja bem-vindo(a) ao MGS</h1>
</header>

<main class="container-fluid">
    <div class="grid">
        <button>Login</button>
        <button>Registrar</button>   
    </div>
     
</main>

<%- include('partials/footer') %>