<%- include('partials/header') %>

<header class="containter-fluid">
    <h1>Seja bem-vindo(a) ao MGS</h1>
</header>

<main class="container-fluid">
    <div class="grid">
        <a href="/auth/login"><button>Login</button></a>
        <a href="/auth/register"><button>Registrar</button></a>
    </div>
</main>

<%- include('partials/footer') %>