<%- include('partials/header') %>

<main class="container" style="padding-top: 250px">
    <div class="grid">
        <div>
            <img src="/public/icons/logo.png" alt="MGS Logo" style="height: 280px; margin-right: 1.5rem;">
        </div>
        <div>
            <h1>Seja bem-vindo(a) ao MGS!</h1>
            <a href="/auth/login"><button>Login</button></a>
            <a href="/auth/register"><button>Registrar</button></a>
        </div>
    </div>
</main>

<%- include('partials/footer') %>