<%- include('partials/header') %>

<div class="grid">
    <div style="padding: 1rem;">
        <a href="/home" role="button"><img src="../../public/icons/home.png" style="max-height: 25px;"></a>
    </div>
</div>

<main class="container" style="padding-top: 1rem;">
    <h2>Transações</h2>
    <table role="grid">
        <thead>
            <tr>
                <th>Extrato</th>
                <th>Data</th>
            </tr>
        </thead>
        <tbody>
            <% transactions.forEach(transaction => { %>
                <tr>
                    <td><%= transaction.message %></td>
                    <!-- Display formatado de data e hora -->
                    <td><%= new Date(transaction.created_at).toLocaleDateString() 
                        + ' ' 
                        + new Date(transaction.created_at).toLocaleTimeString() %>
                    </td>
                </tr>
            <% }); %>
        </tbody>
    </table>
</main>

<%- include('partials/footer') %>