<%- include('partials/header') %>
<%- include('partials/nav') %>

<header style="padding: 1rem;">
    <h1>Usuários</h1>
</header>



        <h4>Adicionar estudante</h4>
        <form action="/addStudent" method="POST">
            <div class="grid">
                <label for="cpf">
                    CPF
                    <input type="text" name="cpf" placeholder="Ex: '23456789012'" required>
                </label>

                <label for="name">
                    Nome
                    <input type="text" name="name" placeholder="Ex: 'Cirilo Rivera'" required>
                </label>
            </div>

            <label for="address">
                Endereço
                <input type="text" name="address" placeholder="Ex: 'Avenida Central, 384'" required>
            </label>

            <!-- TODO Iterar sobre todos os cursos para popular o select. -->
            <label for="course_id">
                course_id
                <input type="int" name="course_id" required>
            </label>

            <button type="submit">Novo estudante</button>
        </form>
    </div>

    <div>
        <h2>Professores</h2>

        <h4>Visualizar professores</h4>
        <table role="grid">
            <thead>
                <tr>
                    <th>CPF</th>
                    <th>Nome</th>
                    <th>institution_id</th>
                    <th>department_id</th>
                    <!-- <th>Ações</th> -->
                </tr>
            </thead>
            <tbody>
                <!-- Adicionar mesma lógica da tabela "students" acima -->
            </tbody>
        </table>
    </div>
</main>

<%- include('partials/footer') %>