<nav style="padding: 1rem;">
    <ul>
      <li><a href="/home" role="button"><img src="../../public/icons/home.png" style="max-height: 25px;"></a></li>
    </ul>
    <ul>
      <li><a href="/users" role="button">Gerenciar usuários</a></li>
      <li><a href="/partners" role="button">Gerenciar parceiros</a></li>
      <li><a href="/logout" role="button">Sair</a></li>
    </ul>
  </nav>