<nav>
    <ul style="align-items: baseline;">
        <li>
            <a href="/home" role="button" style="background-color: transparent; border: none">
                <img src="../../public/icons/home_blue.png" style="height: 32px;">
            </a>
        </li>

        <% if (user_role === 'teacher') { %>
            <%- include('nav_teacher') %>
        <% } else { %>
            <%- include('nav_student') %>
        <% } %>

        <li>
            <form method="get" action="/app/transactions" style="margin: 0;">
                <button type="submit">
                    Transações
                </button>
            </form>
        </li>

        <li>
            <form method="post" action="/auth/logout" style="margin: 0;">
                <button type="submit" style="background-color: transparent; border: none">
                    <a id="logoutIcon"><img src="../public/icons/exit.png"
                        style="height: 42px;" alt="Sair">
                    </a>
                </button>
            </form>
        </li>
    </ul>
</nav>