<li>
  <form method="get" action="/app/partners">
    <button type="submit">Gerenciar parceiros</button>
  </form>
</li>
<li>
  <form method="get" action="/app/students">
    <button type="submit">Gerenciar alunos</button>
  </form>
</li>