<li>
    <form method="get" action="/app/benefits">
        <button type="submit">Benefícios</button>
    </form>
</li>

<li>
    <form method="get" action="/app/transactions" style="margin: 0;">
        <button type="submit">
            Transações
        </button>
    </form>
</li>