<li>
  <form method="get" action="/app/partners">
    <button type="submit">Gerenciar Parceiros</button>
  </form>
</li>
<li>
  <form method="get" action="/app/students">
    <button type="submit">Gerenciar Alunos</button>
  </form>
</li>